.chat-images-area {
  background-color: #850e36c0;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(255, 51, 51, 0.4);
}

.img-fluid,
.chat-images img {
  width: 300px;
  height: 200px;
  margin: 10px;
  border: #850e10c0 solid;
}
.chat-images h1 {
  color: red;
  font-family: "Cinzel", serif;
  display: flex;
  justify-content: center;
  padding: 3px;
}
.chat-title {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .chat-images {
    padding: 10px;
  }

  .chat-images img {
    width: 250px;
    height: 150px;
    border: none;
    box-shadow: 0 0 0 1px #ff0000;
  }
}
